/* 
    Document   : JediStyle.css
    Created on : 02-feb-2012, 9:50:11
    Author     : Jordi
    Description:
        Purpose of the stylesheet follows.
*/

@font-face {
    font-family: 'BaloneyRegular';
    src: url('../fonts/baloney_-webfont.eot');
    src: url('../fonts/baloney_-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/baloney_-webfont.woff') format('woff'),
        url('../fonts/baloney_-webfont.ttf') format('truetype'),
        url('../fonts/baloney_-webfont.svg#BaloneyRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    padding: 0;
    margin:0;
    background-color:#FFF8D3;
    font-family: tahoma;
}

#wrapper {
    width: auto;
    height: 100%;
    margin: auto;

}

#header {
    background-color: #222028;
    height: 80px;
    padding: 5px;
}

#title {
    font-family: 'BaloneyRegular';
    font-size: 40px;
    color: white;
    padding-top: 18px;
    padding-left: 45px;
    float: left;
}

#column {
    margin:20px auto 20px auto;
    background-color: white;
    width:40%;
    padding: 20px;
    border-radius: 10px;  
    -moz-border-radius:10px;  
    -webkit-border-radius:10px;
    -webkit-box-shadow: 2px 2px 5px #999;
    -moz-box-shadow: 2px 2px 5px #999;
    filter: shadow(color=#999999, direction=135, strength=2);                    
    box-shadow: 2px 2px 5px #999;
}

#registre {
    text-align: right;
    padding-top:20px;
    padding-bottom:20px;
}

.minimal {
    background: #e3e3e3;
    border: 1px solid #bbb;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 0 1px 1px #f6f6f6;
    -moz-box-shadow: inset 0 0 1px 1px #f6f6f6;
    -ms-box-shadow: inset 0 0 1px 1px #f6f6f6;
    -o-box-shadow: inset 0 0 1px 1px #f6f6f6;
    box-shadow: inset 0 0 1px 1px #f6f6f6;
    color: #333;
    font: bold 12px Tahoma, helvetica, arial, sans-serif;
    line-height: 1;
    padding: 5px 0 7px;
    text-align: center;
    text-shadow: 0 1px 0 #fff;
    width: 120px; 
}
.minimal:hover {
    background: #d9d9d9;
    -webkit-box-shadow: inset 0 0 1px 1px #eaeaea;
    -moz-box-shadow: inset 0 0 1px 1px #eaeaea;
    -ms-box-shadow: inset 0 0 1px 1px #eaeaea;
    -o-box-shadow: inset 0 0 1px 1px #eaeaea;
    box-shadow: inset 0 0 1px 1px #eaeaea;
    color: #222;
    cursor: pointer; 
}
.minimal:active {
    background: #d0d0d0;
    -webkit-box-shadow: inset 0 0 1px 1px #e3e3e3;
    -moz-box-shadow: inset 0 0 1px 1px #e3e3e3;
    -ms-box-shadow: inset 0 0 1px 1px #e3e3e3;
    -o-box-shadow: inset 0 0 1px 1px #e3e3e3;
    box-shadow: inset 0 0 1px 1px #e3e3e3;
    color: #000; 
}

#registre fieldset {
    text-align: left;
    margin-bottom: 20px;
}

#registre legend{
    font-weight:bold;
    font-size:12px;
    color:#FFFFFF;
    background-color:#000000;
    padding:3px 8px 3px 8px;
    text-align: left;
    border-radius: 7px;  
    -moz-border-radius:7px;  
    -webkit-border-radius:7px;
    -webkit-box-shadow: 2px 2px 5px #999;
    -moz-box-shadow: 2px 2px 5px #999;
    filter: shadow(color=#999999, direction=135, strength=2);                    
    box-shadow: 2px 2px 5px #999;
}

#registre label {
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom:3px;
    font-size: 12px;
}

#registre select {
    font-family: tahoma;
    font-size: 12px;
}
#loguin{
    float: right;
}

#loguin label{
    color: white;
    font: tahoma;
    font-size: 12px;
}
#loguin input[type=submit] {
    margin-left: 50px;
    margin-top: 5px;
}

#footer {
    background-color: #222028;
    height: 30px;
}